[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pandas = "*"
tensorflow-addons = "*"
tf-models-official = "==2.3.0"
numpy = "*"
mlflow = "*"
pydot = "*"
graphviz = "*"

[dev-packages]
#[requires]
#python_version = "3.7"
